<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat</title>
	<link rel="icon" href="img\wpp.png" type="image/png">
	<link rel="stylesheet" href="chat.css">
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<script src="chat.js"></script>

</head>
<body>
	<div class="container">
		<div class="chat">
			<div class="chat-header">
				<div class="profile">
					<div class="left">
						<img src="img/arrow.png" class="arrow">
						<img src="img/pp.png" class="pp">
						<h2>Evaristo</h2>
						<span>online</span>
					</div>
					<div class="right">
					</div>
				</div>
			</div>
			<div class="chat-box">
				<div class="chat-r">
					<div class="sp"></div>
					<div class="mess mess-r">
						<p>
							Oi, Dr. Evaristo! É verdade que beber café pode aumentar o risco de problemas cardíacos?						</p>
						<div class="check">
							<span>4:00 PM</span>
							
						</div>
					</div>
				</div>
				<div class="chat-l">
					<div class="mess">
						<p>
							Oi, João. Na verdade, o consumo moderado de café não apresenta riscos significativos para a saúde cardiovascular.						</p>
						<div class="check">
							<span>4:00 PM</span>
						</div>
					</div>
					<div class="sp"></div>
				</div>

				<div class="chat-r">
					<div class="sp"></div>
					<div class="mess mess-r">
						<p>
							Entendi, doutor. Muito obrigado pela resposta! Até mais.						</p>
						<div class="check">
							<span>4:00 PM</span>
							
						</div>
					</div>
				</div>
				<div class="chat-l">
					<div class="mess">
					    <p>Por nada, João. Fico feliz em poder ajudá-lo. Qualquer outra dúvida, não hesite em me perguntar. Até a próxima.</p>
						<div class="check">
							<span>4:00 PM</span>
						</div>
					</div>
					<div class="sp"></div>
				</div>

				
			</div>

			<div class="chat-footer">
				<textarea id="envio" placeholder="Digite a sua mensagem"></textarea>

			</div>
			<a name="enviarMensagem" id="botaoEnvio" class="btn btn-primary" onclick="envio()" role="button">Enviar</a>

		</div>
	</div>
	
</body>
</html>